body {
    margin: 0;
    background-color: #121212;
    padding: 0;
    font-family: sans-serif;
}
main {
    width: 100%;
    height: 100vh;
}
@media screen and (max-width : 900px) {
    #headerMain {
        z-index: 9999;
        background-color: #2c2c2c;
        border-bottom: 1px solid #333;
        position:fixed;
        top: 0;
        width: 100%;
        height: 55px;
    }
    #logoContainer {
        margin-left: 15px;
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;

    }
    #box-closeOpen {
        opacity: 0.7;
        margin-top: 7px;
        position: absolute;
        top: 1px;
        right: 8px;
        width: 40px;
        border: 1px solid red;
        display: flex;
        align-items: center;
        height: 40px;
    }
    #close-iconTop {
        position: absolute;
        background-color: #fff;
        width: 20px;
        top: 7px;
        height: 3px;
        border-radius: 10px;
        right: inherit;
        transition: all 1s;
    }
    #close-iconMid {
        position: absolute;
        background-color: #a58585;
        width: 16px;
        height: 2px;
        top: 15px;
        left: 15px;
        border-radius: 10px;
        transition: all 1s;
        right: inherit;

    }
    #close-iconBottom {
        position: absolute;
        background-color: #fff;
        width: 20px;
        height: 3px;
        top: 23px;
        border-radius:10px;
        right: inherit;
        transition: all 1s;
    }
    .containerMenu {
        text-transform: uppercase;
        width: 100%;
        background-color: #2c2c2c;
        position: fixed;
        transform: translateY(-50vh);
        transition: all 1s;
        border-radius: 0 0 10px 10px ;
        z-index: 999;
    }
    #menulist {
        list-style: none;
        padding: 0px;
    }
    .itemlist {
        font-size: 11px;
        color: #fff;
        padding: 20px;
        border-bottom: 1px solid #333;
        margin: 10px;
    }
    #inline-menuBox {
        display: flex;
        justify-content: space-around;
    }
    .itemlist-inline {
        border: 2px solid #2c2c2c;
        border-radius: 30px;
        padding: 20px;
        margin: 10px;
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .itemlist-inline:first-child {
        background-color: #fff;
    }
    .itemlist-inline:last-child {
        background-color: #b44b4b;
    }
    .itemlist-inline i {
        margin-right: 20px;
    }
    .itemlist i {
        margin-right: 20px;
    }
    /* MAIN CONTENT */
    #mainContainer {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        z-index: 999;
    }
    main #content {
        width: 100%;
        height: 50%;
        margin-top: 0px;
        background-color: #333;
    }
    #searchContainer {
        display: flex;
        padding-left: 5% ;
        margin: 35px 0 10px 0;
        max-height: 36px;
    }
    .btnFilter , .btnList   {
        background-color: #2c2c2c;
        color: aliceblue;
        border-right: 3px solid #333;
        display: flex;
        align-items: center;
        padding: 0 15px;
    }
    .btnList {
        border-radius: 10px 0 0 10px;
    }

    .filterContainer {
        padding: 13px;
        margin: auto;
        display: flex;
        border: 1px solid rgb(65, 65, 65);
        border-radius: 10px;
        width: 85%;
        max-height:300px;
        transition: all 1s;
        display: none;
        background-color: #2c2c2c;
    }
    .filterSep {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .boxfilter {
        padding: 5px 10px;
        background-color: #a53f3f;
        border-radius: 10px;
        margin: 10px;
        color: #fff ;

    }

    #search-input1 {
        color: aliceblue;
        background-color: #2c2c2c;
        padding: 10px;
        width: 60%;
        border: none;
        outline: none;
    }
    #searchIcon {
        color: #656565;
        padding: 5px 6px;
        left: -30px;
        top: 3px;
        padding: 10px;
        background-color: #2c2c2c;
        border-radius: 0 40px 40px 0;
        border-left: 1px solid #333;
    }
    #topMenu {
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        border-bottom: 1px solid #2c2c2c;
    }
    .itemTopMenu {
        white-space: nowrap;
        display: inline;
        background-color: #2c2c2c;
        color: aliceblue;
        margin: 0px 10px 20px 10px;
        padding: 7px 14px;
        display: flex;
        min-width: auto;
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
    }
    .itemTopMenu:hover {
        background-color: #b44b4b;
    }
    .itemTopMenu i {
        opacity: 0.7;
        width: 16PX;
        height: 16px;
        margin-right:13px;
    }
    /* CLASSI TOGGLE JS*/

    .slideContainer {
        transform: translateY(0vh);
    }
    .btnChangeColor {
        background-color: #b44b4b;
    }
    .slideFilterCont {
        display: block;
    }
    .rotate-iconTop {
        transform: rotate(490deg) translateY(-7px) translateX(10px);
        transition: all 2s;
        max-height: 2px;
        max-width: 15px;
    }
    .rotate-iconMid {
        transform: scale(0);
        opacity: 0;
        transition: all 1s;
    }
    .rotate-iconBottom {
        transform: rotate(-130deg) translateY(1px) translateX(3px);
        transition: all 2s;
        max-width: 15px;
        max-height: 2px;
    }
}